body{
background-color: #F6F6C7;
}

.employees{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 3-px;
}

.employees{
padding: 10px;
border: 1px solid #00dba0;
position: relative;
padding-bottom: 40px
}

.employee-details {
  color: black;
  position: absolute;
  left: 500px;
  right: 40px;
  bottom: 0px;
  top: 300px;
  font-family: verdana;
  font-size: 17px;
}

