body{
background-color: #F6F6C7;
}



.employee-details {
  color: black;
  position: absolute;
  left: 500px;
  right: 40px;
  bottom: 0px;
  top: 300px;
  font-family: verdana;
  font-size: 17px;
}

