{% extends 'base_layout.html' %}
{% block content %}
<div class="employee-name">
    <h1>{{employee.first_name }} {{employee.last_name }} |  <i>{{ employee.title }}</i></h1><br>
</div>

<div class="employee-photo">
<img src="{{ employee.photo.url }}" height="565" width="400">
</div>

<div class="employee-details">


<br>
<b>Employee ID</b> | <i>{{employee.employee_id}}</i>
<br><br>
<b>Email Address</b> | <i>{{employee.email_address}}</i>
<br><br>
<b>Phone Number</b> | <i>{{employee.phone_number}}</i>
<br><br>
<b>Hire Date</b> | <i>{{employee.hire_date}}</i>
<br><br>
<b>Salary</b> | <i>{{employee.salary}}</i>
<br><br>



</div>
{% endblock %}